In [2]:
from searchNightlogs import *

# Example usage:
object_name = "tyc 3997 1510 1"
years = [2022, 2023, 2024, 2020]
matched_rows = findObject(object_name, years)
matched_rows

Year 2022 - Total number of observation dates: 125
Year 2023 - Total number of observation dates: 97
Year 2024 - Total number of observation dates: 40
Year 2020 - Total number of observation dates: 123

<Table length=10>
Celestial Object Observations ... Match Score  RTK
     str15          int64     ...   float64   int64
---------------- ------------ ... ----------- -----
  TYC3997-1510-1            2 ...        97.0    --
      PK112-10.1            1 ...        86.0    --
       PK47+42.1            1 ...        86.0    --
       PK102-5.1            1 ...        86.0    --
            M101            4 ...        68.0     0
   TYC733-1166-1            2 ...        64.0    --
             F10            1 ...        60.0    --
             F11            1 ...        57.0    --
    TYC360821611            1 ...        52.0     0
         V398910            1 ...        51.0     0